In [1]:
import pandas as pd
import numpy as np
pd.set_option("max_columns",500)
pd.set_option("max_rows",500)

In [50]:
DATA_DIR="../../Data/SEC-filings/data/"
TRAIN_DIR=DATA_DIR+"train/"
TEST_DIR=DATA_DIR+"test/"

def convert_to_list(fName):
	sentence=0
	df_list=[]
	with open(fName,"r") as f:
		for line in f:
			if line=="\n":
				sentence+=1
			else:
				df_list+=[[sentence]+line.split(" ")]
	print(fName,sentence)
	return df_list

In [56]:
train_l=convert_to_list(TRAIN_DIR+"FIN5.txt")
test_l=convert_to_list(TEST_DIR+"FIN3.txt")

train=pd.DataFrame(train_l[1:],columns=["Sentence", "Word","POS","-","TAG"])
test=pd.DataFrame(test_l[1:],columns=["Sentence", "Word","POS","-","TAG"])

../../Data/SEC-filings/data/train/FIN5.txt 1169
../../Data/SEC-filings/data/test/FIN3.txt 306

In [57]:
train

       Sentence       Word  POS  -      TAG
0             1       This   DT  -      O\n
1             1       LOAN   NN  -      O\n
2             1        AND   CC  -      O\n
3             1   SECURITY  NNP  -      O\n
4             1  AGREEMENT  NNP  -      O\n
...         ...        ...  ... ..      ...
41009      1168          /   NN  -      O\n
41010      1168          s  NNS  -      O\n
41011      1168          /    :  -      O\n
41012      1168       Bing  VBG  -  I-PER\n
41013      1168         Yu  NNP  -  I-PER\n

[41014 rows x 5 columns]

In [59]:
#for i in train:
#	col_len=len(train[i].value_counts())
#	if col_len < 50:
#		print(i)
#		print(train[i].value_counts())
#	else:
#		print(i, col_len)
#		print(train[i].value_counts()[:10])
#	print()

for i in train:
	print(i, len(train[i].value_counts()))
	print()

Sentence 1168

Word 3512

POS 42

- 2

TAG 5